# Fictional Army - Filtering and Sorting

In [2]:
import pandas as pd

### Step 2. This is the data given as a dictionary

In [3]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

### Step 3. Create a dataframe and assign it to a variable called army. 

#### Don't forget to include the columns names in the order presented in the dictionary ('regiment', 'company', 'deaths'...) so that the column index order is consistent with the solutions. If omitted, pandas will order the columns alphabetically.

In [4]:
column_order = ['regiment', 'company', 'deaths', 'battles', 'size',
                'veterans', 'readiness', 'armored', 'deserters', 'origin']
army = pd.DataFrame(raw_data, columns=column_order)
print(army.head())

     regiment company  deaths  battles  size  veterans  readiness  armored  \
0  Nighthawks     1st     523        5  1045         1          1        1
1  Nighthawks     1st      52       42   957         5          2        0
2  Nighthawks     2nd      25        2  1099        62          3        1
3  Nighthawks     2nd     616        2  1400        26          3        1
4    Dragoons     1st      43        4  1592        73          2        0

   deserters      origin
0          4     Arizona
1         24  California
2         31       Texas
3          2     Florida
4          3       Maine

### Step 4. Set the 'origin' colum as the index of the dataframe

In [5]:
army.set_index('origin', inplace=True)
print(army.head())

              regiment company  deaths  battles  size  veterans  readiness  \
origin
Arizona     Nighthawks     1st     523        5  1045         1          1
California  Nighthawks     1st      52       42   957         5          2
Texas       Nighthawks     2nd      25        2  1099        62          3
Florida     Nighthawks     2nd     616        2  1400        26          3
Maine         Dragoons     1st      43        4  1592        73          2

            armored  deserters
origin
Arizona           1          4
California        0         24
Texas             1         31
Florida           1          2
Maine             0          3

### Step 5. Print only the column veterans

In [ ]:
print(army['veterans'])

### Step 6. Print the columns 'veterans' and 'deaths'

In [ ]:
print(army[['veterans', 'deaths']])

### Step 7. Print the name of all the columns.

In [ ]:
print(army.columns)

### Step 8. Select the 'deaths', 'size' and 'deserters' columns from Maine and Alaska

In [ ]:
print(army.loc[['Maine', 'Alaska'], ['deaths', 'size', 'deserters']])

### Step 9. Select the rows 3 to 7 and the columns 3 to 6

In [ ]:
print(army.iloc[3:8, 3:7])

### Step 10. Select every row after the fourth row and all columns

In [ ]:
print(army.iloc[4:])

### Step 11. Select every row up to the 4th row and all columns

In [ ]:
print(army.iloc[:4])

### Step 12. Select the 3rd column up to the 7th column

In [ ]:
print(army.iloc[:, 3:8])

### Step 13. Select rows where df.deaths is greater than 50

In [ ]:
print(army[army['deaths'] > 50])

### Step 14. Select rows where df.deaths is greater than 500 or less than 50

In [ ]:
print(army[(army['deaths'] > 500) | (army['deaths'] < 50)])

### Step 15. Select all the regiments not named "Dragoons"

In [ ]:
print(army[army['regiment'] != 'Dragoons'])

### Step 16. Select the rows called Texas and Arizona

In [ ]:
print(army.loc[['Texas', 'Arizona']])

### Step 17. Select the third cell in the row named Arizona

In [ ]:
value = army.loc['Arizona'].iloc[2]
value

### Step 18. Select the third cell down in the column named deaths

In [ ]:
value = army['deaths'].iloc[2]
print(value)